/*Header*/
/* Adjustments for Authenticated User Section */
.dep {
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between username and logout button */
}
.navbar-bg{
    background-color: white;
}
/*Header*/

/*Home page css*/
.opening-date{
    align-items: baseline;
}
.opening-date svg{
    fill: #7180B9;
}
.equipment_section{
    background-color: rgba(0, 0, 0, 0.05);
}

.contact_detail {
    background-color: rgba(253, 210, 19, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_detail svg{
    fill: #0a1e2c;
    margin-bottom: 10px;
}
.contact{
    border-bottom: 2px solid #FDD213; /* Slightly darker orange separator */
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #000; /* Black color for text */
    width: 70%;
}
iframe{
    width: 100%;
}
/*Home page css*/

/*Reservation page*/
#collectionEquipment{
    background-color: rgba(113, 128, 185, 0.7);
}

/*Reservation page*/


.bg-content{
    background: -webkit-linear-gradient(181deg, rgba(113, 128, 185, 0.1),#ffffff);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(181deg, rgba(113, 128, 185, 0.1),#ffffff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.label{
    color: #7180B9;
}
.dep{
    margin-left: auto;
    margin-right: 0;
}
nav.navbar.navbar-toggler-icon{
    border:none;!important
}

/* Style for paragraphs */
p {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 16px;
}

/* Specific style for bold paragraph */
.fw-bold {
    font-weight: bold;
    color: #000;
}

/* Heading styles */
h2, h3, h5, h6 {
    color: #0056b3; /* Example color */
    margin-bottom: 15px;
}

/* SVG icon styles */
svg {
    fill: #007bff; /* Example fill color */
    width: 24px; /* Example size */
    height: 24px; /* Example size */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h2, h3, h5, h6 {
        font-size: smaller; /* Smaller text on smaller screens */
    }
}

label {
    display: block;
    margin-bottom: 5px;
}

.text-danger {
    color: #dc3545;
}

/* Footer Styling */
/* General Footer Styling */
.footer-container {
    text-align: center;
    padding-top: 20px; /* Add padding on top */
}

.footer-container h2 {
    margin-bottom: 15px;
}

/* Styling for SVG Icons */
.bg-warning svg {
    fill: #000000; /* Black color for icons */
    margin-bottom: 10px;
}


/* General Navbar Styling */
.navbar {
    background-color: #f8f9fa; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar-brand img {
    width: 85px; /* Adjust as necessary */
    height: 85px; /* Adjust logo size */
}

/* Navbar Toggler Styling */
.navbar-toggler {
    border: none; /* Removes default border */
    outline: none; /* Removes outline on focus */
}

/* Navbar Link Styling */
.nav-link {
    color: #333; /* Dark text color for visibility */
    transition: border-bottom 0.3s; /* Smooth transition for underline effect */
    padding-bottom: 0.25rem; /* Space between text and underline */
    width: auto;
}

.nav-link:hover, .nav-link:focus {
    color: #e36f20; /* Highlight color on hover or focus */
    border-bottom: 2px solid #7180B9; /* Underline effect */
    text-decoration: none; /* Remove default text decoration */
}



.dep p {
    margin-bottom: 0; /* Remove default margin */
}

/*success reservation*/

.resaOk{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Overriding padding for the Bootstrap navbar */
.navbar {
    padding: 0 !important;
}
.nav-link {
    color:black!important;
}

#btn-login, #btn-resa, #btn{
    background-color: #7180B9;
    color: white;
}

.basket{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 70px;
}