<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>
    <div th:insert="~{parts/style_script}"></div>
</head>
<body>

<header th:include="~{parts/header :: header}"></header>


<section class="m-5">
    <h2 class="mb-5">Mes informations personnelles</h2>

    <div th:if="${user.getLastname() != null}">
        <p><strong class="label">Nom :</strong> <span th:text="${user.getLastname()}"></span></p>
    </div>

    <div th:if="${user.getFirstname() != null}">
        <p><strong class="label">Prénom :</strong> <span th:text="${user.getFirstname()}"></span></p>
    </div>

    <div th:if="${user.getEmail() != null}">
        <p><strong class="label">Email:</strong> <span th:text="${user.getEmail()}"></span></p>
    </div>

    <div th:if="${user.getRoles() != null}">
        <p><strong class="label">Rôle:</strong>
            <span th:each="role, iterStat : ${user.getRoles()}">
            <span th:text="${role.getRoleName()}"></span>
                <!-- Add a comma if it's not the last element -->
            <span th:if="${!iterStat.last}">& </span>
        </span>
        </p>
    </div>


    <p class="label"><strong>Adresse postale :</strong> </p>
    <div th:if="${user.street_number != null}">
        <p><span th:text="${user.getStreet_number()} + ' ' + ${user.getStreet_name()}"></span></p>
    </div>
    <div th:if="${user.getCountry() != null}">
        <p><span th:text="${user.getZip_code()} + ' ' + ${user.getCountry()}"></span></p>
    </div>


<!--    <div class="mt-2 mb-5">-->
<!--        <a th:href="@{/users/edit/{id}(user=${user.id})}">-->
<!--        Modifier mes informations-->
<!--        </a>-->
<!--    </div>-->

    <button type="button" class="btn btn-outline-warning" id="showModalBtn">
        Mettre à jour mes informations
    </button>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mettre à jours mes données</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            <form th:action="@{/edit/{id}(id=${user.id})}" method="post" th:object="${user}">
                                <input type="hidden" th:field="*{id}" class="w-100"/>

                                <label for="lastname" class="label">Nom:</label>
                                <input type="text" th:field="*{lastname}" id="lastname" name="lastname" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="firstname" class="label">Prénom:</label>
                                <input type="text" th:field="*{firstname}" id="firstname" name="firstname" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="email" class="label">Mail:</label>
                                <input type="email" th:field="*{email}" id="email" name="email" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="street_number" class="label">Numéro rue:</label>
                                <input type="number" th:field="*{street_number}" id="street_number" name="street_number" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="street_name" class="label">Non de rue:</label>
                                <input type="text" th:field="*{street_name}" id="street_name" name="street_name" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="zipcode" class="label">Code postal:</label>
                                <input type="text" th:field="*{zip_code}" id="zipcode" name="zipcode" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="country" class="label">Pays:</label>
                                <input type="text" th:field="*{country}" id="country" name="country" class="w-100 border-0 border-bottom mb-2"/>

                                <label for="password" class="label">Mot de passe:</label>
                                <input type="password" th:field="*{password}" required id="password" name="password" class="w-100 border-0 border-bottom" placeholder="********"/>

                                <button class="btn btn-outline-warning w-100 mt-3">Enregistrer les modifications</button>
                            </form>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="m-5">
    <h2 class="mb-5">Mes reservations</h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-primary tab" id="home-tab" data-bs-toggle="tab" data-bs-target="#isOk" type="button" role="tab" aria-controls="home" aria-selected="true">Mes reservations Acceptées</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-primary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#inProcess" type="button" role="tab" aria-controls="profile" aria-selected="false">Mes reservations en attente</button>
        </li>
    </ul>
    <div class="tab-content bg-content" id="myTabContent">

        <div class="tab-pane fade show active" id="isOk" role="tabpanel" aria-labelledby="home-tab">
            <h2 class="m-5 pt-3">Reservations confirmées</h2>

            <div th:each="command, commandIndex : ${commands}" th:if="${command.getUser().getId() == user.getId()}">

                <!-- Check if there are any reservations that are not accepted -->
                <th:block th:if="${T(com.humanbooster.sunset.utils.ReservationUtils).hasAcceptedReservations(command.getReservations())}">

                    <div class="card m-5 p-3">
                        <p><span>Commande n° </span> <span th:text="${commandIndex.index + 1}"></span> <span>confirmé !</span></p>

                        <div class="">
                            <div >
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Equipement</th>
                                        <th scope="col">Emplacement</th>
                                        <th scope="col">Prix</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="reservation, iterStat : ${command.getReservations()}" th:if="${reservation.isAccepted() == true}">
                                    <tr>
                                        <td><span th:text="${#dates.format(reservation.getDate_to(), 'dd-MM-yyyy')}"></span></td>
                                        <td><span th:text="${reservation.getEquipment()}"></span></td>
                                        <td><span th:text="${reservation.getLane()}"></span></td>
                                        <td><span th:text="${T(com.humanbooster.sunset.utils.ReservationUtils).getPriceByLane(reservation.getLane()) + ' €'}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <p>
                                Prix total : <span th:text="${T(com.humanbooster.sunset.utils.ReservationUtils).calculateTotalPrice(command.getReservations())}"></span> €
                            </p>
                        </div>
                        <div>
                            <a th:if="${!command.getPayment()}" th:href="@{/panier(total=${T(com.humanbooster.sunset.utils.ReservationUtils).calculateTotalPrice(command.getReservations())})}" class="btn btn-danger">Proceder au paiement</a>
                            <a th:if="${command.getPayment()}">
                                <a th:href="@{/pdf/{command}(command=${command.getId()})}" class="btn btn-outline-warning">Télécharger une Facture</a>
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="tab-pane fade show" id="inProcess" role="tabpanel" aria-labelledby="profile-tab">
            <h2 class="m-5 pt-3">Reservations en attente</h2>

            <div th:each="command, commandIndex : ${commands}" th:if="${command.getUser().getId() == user.getId()}">
                <!-- Check if there are any reservations that are not accepted -->
                <th:block th:if="${T(com.humanbooster.sunset.utils.ReservationUtils).hasUnacceptedReservations(command.getReservations())}">

                    <div class="card m-5 p-3">
                        <p><span>Commande n° </span> <span th:text="${commandIndex.index + 1}"></span> <span>est en cours de traitement !</span></p>

                        <div class="">
                            <div >
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Equipement</th>
                                        <th scope="col">Emplacement</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="reservation, iterStat : ${command.getReservations()}" th:if="${reservation.isAccepted() == false}">
                                    <tr>
                                        <td><span th:text="${#dates.format(reservation.getDate_to(), 'dd-MM-yyyy')}"></span></td>
                                        <td><span th:text="${reservation.getEquipment()}"></span></td>
                                        <td><span th:text="${reservation.getLane()}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</section>

<!--<a sec:authorize="hasAnyRole('admin')" th:href="@{/admin}">Espace administrateur</a>-->

<!--<a th:href="@{/reservation/new}"  th:action="@{/login}" class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">-->
<!--    Faire une reservation-->
<!--</a>-->

<!--<form method="post" th:action="@{/logout}">-->
<!--    <input type="submit" value="Me deconnecter">-->
<!--</form>-->


</body>
</html>