<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>
    <div th:insert="~{parts/style_script}"></div>
</head>
<body>

<header th:include="~{parts/header :: header}"></header>

<div class="p-5">
    <h1 class="mb-4">Régler ma commande</h1>
    <h3>⛱️ Plus qu'une étape et à vous la détente sur notre belle plage ⛱️</h3>
</div>
<section class="h-100 py-5 bg-content">
    <div th:each="command, commandIndex : ${commands}" th:if="${command.getId() == commandId} ">
        <div class="card m-5 p-3">

            <div class="">
                <div >
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Equipement</th>
                            <th scope="col">Emplacement</th>
                            <th scope="col">Prix Unitaire</th>
                        </tr>
                        </thead>
                        <tbody th:each="reservation, iterStat : ${command.getReservations()}" th:if="${reservation.isAccepted() == true}">
                        <tr>
                            <td><span th:text="${#dates.format(reservation.getDate_to(), 'dd-MM-yyyy')}"></span></td>
                            <td><span th:text="${reservation.getEquipment()}"></span></td>
                            <td><span th:text=" 'Ligne : ' + ${reservation.getLane()} + ' -' + ' Place : ' + ${reservation.getColumn()}"></span></td>
                            <td><span th:text="${T(com.humanbooster.sunset.utils.ReservationUtils).getPriceByLane(reservation.getLane()) + ' €'}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="basket">
                <p>
                    <strong>Prix total HT : <span th:text="${T(com.humanbooster.sunset.utils.ReservationUtils).calculateTotalPrice(command.getReservations())}"></span> € </strong>
                </p>
                <p>
                    <strong>TVA : 20 % </strong>
                </p>
                <p>
                    <strong>Prix total TTC : <span th:text="${T(com.humanbooster.sunset.utils.ReservationUtils).calculateTotalPrice(command.getReservations())} + ${T(com.humanbooster.sunset.utils.ReservationUtils).calculateTotalPrice(command.getReservations())} * 0.2"></span> € </strong>
                </p>
            </div>
            <div class="basket">
                <a th:if="${!command.getPayment()}" th:href="@{/panier/payment(total=${totalPrice} + ${totalPrice} * 0.2 , commandId=${command.getId()})}" class="btn btn-warning">Regler via Paypal</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>