<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>
    <div th:insert="~{parts/style_script}"></div>
</head>
<body>
<div class="container-fluid d-flex justify-content-around align-items-center vh-100">
    <img src="/images/parasol.jpg" alt="image de parasol" width="250" height="250">
    <div class="text">
        <h1 class="label">Yeah...Felicitation!</h1>
        <p>Votre commande s'est très bien passée! Merci de nous avoir fait confiance et nous espérons vous revoir très bientôt :-) </p>
        <a href="/myaccount" class="btn btn-dark">Voir mes reservations</a>
    </div>
</div>
</body>
</html>