<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <div th:insert="~{parts/style_script}"></div>

    <title>Accueil</title>
</head>
<body>
<header th:include="parts/header :: header"></header>
<div class="d-flex justify-content-center flex-column align-items-center">
<h1 class="mt-5 d-flex">Message envoyé avec succès ! </h1>
<a href="http://localhost:8080/admin" class="btn btn-warning w-25 p-2 mt-2">Revenir aux réservations</a>
</div>
</body>
</html>