<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>

    <nav class="navbar navbar-expand-lg navbar-light shadow navbar-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><img src="/images/logo.png" alt="Logo sunset" width="153"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/home">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/reservation/new">Reserver</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" href="http://localhost:8080/login">Se Connecter</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()"  class="nav-link" href="http://localhost:8080/myaccount">Mes informations</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()"  class="nav-link" href="http://localhost:8080/admin">Espace Administrateur</a>
                    </li>
                </ul>
                            <div class="dep" sec:authorize="isAuthenticated()" >
                                <p> <th:block sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().username}"></th:block></p>
                                <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}" class="m-1">
                                        <input type="submit" value="Deconnection" class="border-0 dec">
                                </form>
                            </div>

            </div>

        </div>
    </nav>

</header>


</html>

